*.class
*.log
*.zip
*.gz
*~

# sbt specific
.settings/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/boot/
project/plugins/project/
.classpath
.cache

#spark specific
checkpoint
/checkpoint

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ IDEA specific
**/.idea/
**/target/
**/*.iml

# Not important files
*.DS_Store
DS_Store
./DS_Store
.idea
.bsp
target
lib

#Conf
api/java/conf
/api/java/conf
/conf

#data
data
/data


#python
.venv
/venv
venv
